img{
width: 40%px;
}

.cabecalho{
width: 200px;
height: 100px;
background-color: aquamarine;

}
.primeirasescao{
    width: 200px;
    height: 100px;
    background-color: rgb(73, 226, 43);
}
.divisao{
width: 200px;
height: 100px;
background-color: rgb(30, 6, 253);
}