img{
width: 40%px;
}

.cabecalho{
width: 200px;
height: 100px;
background-color: rgb(247, 5, 25);

}
.primeirasescao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: rgb(73, 226, 43);
}
.divisao{
width: 200px;
height: 100px;
background-color: rgb(30, 6, 253);
}